###############################################################################
# Set default behavior to automatically normalize line endings.
###############################################################################

* text=auto

###############################################################################
# Define text files and diff handling
###############################################################################

*.bat       text eol=crlf
*.gradle    text eol=lf
*.java      text eol=lf
